<div class="smart-widget">
    <div class="smart-widget-header">
        受理信息详情
        <span class="smart-widget-option" ng-click="cancel()">
            <a class="widget-remove-option">
                <i class="fa fa-times"></i>
            </a>
        </span>
    </div>
    <div class="smart-widget-inner">
        <div class="smart-widget-body">
            <form id="formToggleLine" class="form-horizontal no-margin">
                <div class="form-group">
                    <label class="col-lg-3 control-label">检验受理编号</label>
                    <div class="col-lg-9">
                        <span type="text" class="form-control" ng-bind="acceptedDetail.id"></span>
                    </div>
                </div>
                <!-- 申报人 -->
                <div class="form-group">
                    <label class="col-lg-3 control-label">申报人员</label>
                    <div class="col-lg-9">
                        <span type="text" class="form-control" ng-bind="acceptedDetail.declarant"></span>
                    </div>
                </div>
                <!--检验项目名称-->
                <div class="form-group">
                    <label class="col-lg-3 control-label">检验项目</label>
                    <div class="col-lg-9">
                        <span type="text" class="form-control" ng-bind="acceptedDetail.project.name"></span>
                    </div>
                </div>
                <!-- 检验设备编号 -->
                <div class="form-group">
                    <label class="col-lg-3 control-label">检验设备编号</label>
                    <div class="col-lg-9">
                        <span type="text" class="form-control" ng-bind="acceptedDetail.deviceCode"></span>
                    </div>
                </div>
                <!--申报单位-->
                <div class="form-group">
                    <label class="col-lg-3 control-label">申报单位</label>
                    <div class="col-lg-9">
                        <span type="text" class="form-control" ng-bind="acceptedDetail.applicationCompany.name"></span>
                    </div>
                </div>
                <!--图片-->
                <div class="form-group" ng-repeat="key in acceptedDetail.applicationMaterialFiles">
                    <label class="col-lg-3 control-label">{{key.name}}</label>
                    <div class="col-lg-9">
                        <img ngf-src="key.url" src="" alt="" class="img-responsive" style="width: 150px;height: 200px;border: 1px solid #ccc;">
                    </div>
                </div>
                <!--检验人员-->
                <div class="form-group">
                    <label class="col-lg-3 control-label">检验人员</label>
                    <div class="col-lg-9">
                        <ui-select ng-model="inspectorsData.inspector" theme="bootstrap">
                            <ui-select-match placeholder="">{{inspectorsData.inspector.username}}
                            </ui-select-match>
                            <ui-select-choices repeat="item in inspectors | filter: $select.search">
                                <div ng-bind-html="item.username | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-lg-12">
                        <button class="btn btn-success btn-lg btn-block" ng-click="ok()">受理</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>