
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">添加设备类型

                </h4>
            </div>




            <div class="modal-header">

                <div class="form-group" style="margin-bottom: 0">
                    <div class="row">
                        <div class="col-sm-3 text-right" style="padding-top: 8px">
                            <label class=" control-label">设备类型名称</label>

                        </div>
                        <div class="col-sm-9">

                            <input type="text" class="form-control "
                                   placeholder="设备类型名称">
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-lg-12">
                        <button class="btn btn-success btn-lg btn-block" ng-click="onConfirmButtonClick()">
                            确定
                        </button>
                    </div>
                </div>
            </div>
        </div>
