

<div class="modal-demo">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h5 class="col-md-11 modal-title " id="modal-title">添加管理员信息</h5>
            <a ng-click="cancel()" style="cursor: pointer"> <i class="col-md-1 fa fa-times"></i></a>

        </div>
        <div class="modal-body" id="modal-body">
            <div class="form-group">
                <label for="exampleInputEmail1">角色名</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="请输入角色名" ng-model="roleName">
            </div>
            <div class="form-group">
                <div style="margin-left: 20px">
                    <label >权限</label>
                </div>
                <div class="col-lg-12">
                    <div class="col-lg-4" ng-repeat="permissions in items">
                        <input type="checkbox" ng-model="permissions.ischecked">{{permissions.name}}
                    </div>
                </div>
                <div style="clear: both"></div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="addRole()" type="button" class="btn btn-success col-md-12 btn-lg">添加</button>
        </div>
    </script>
</div>




<div class="modal-demo">
    <script type="text/ng-template" id="myModalContent1.html">
        <div class="modal-header">
            <h5 class="col-md-11 modal-title ">添加管理员信息</h5>
            <a ng-click="cancel()" style="cursor: pointer"> <i class="col-md-1 fa fa-times"></i></a>

        </div>
        <div class="modal-body" >
            <div class="form-group">
                <label for="exampleInputEmail1">角色名</label>
                <input type="text" ng-model="rolename" class="form-control"  placeholder="请输入角色名" ng-model="roleName">
            </div>
            <div class="form-group">
                <div style="margin-left: 20px">
                    <label >权限</label>
                </div>
                <div class="col-lg-12">
                    <div class="col-lg-4" ng-repeat="permissions in items">
                        <input type="checkbox" ng-model="permissions.ischecked">{{permissions.name}}
                    </div>
                </div>
                <div style="clear: both"></div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="addRole()" type="button" class="btn btn-success col-md-12 btn-lg">添加</button>
        </div>
    </script>
</div>




<div class="padding-md">
    <h3 class="header-text m-bottom-sm">
        角色
    </h3>
    <div style="float: right;margin-top: 2px;margin-right: 15px">
        <button type="button" class="btn btn-sm btn-success" ng-click="openModifyModal()">
            <span class="fa fa-plus fa-lg" aria-hidden="true"></span> 添加
        </button>
    </div>


    <div style="clear: both"></div>
    <br>
    <div class="smart-widget">
        <div class="smart-widget-header">
            角色信息列表
        </div>

        <div class="smart-widget-inner panel-body table-responsive">


            <table class="table table-striped">
                <thead>
                <tr>
                    <th>角色</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="role in newRoleManagementArray">
                    <td>{{role.name}}</td>
                    <td>
                        <span class="fa fa-pencil-square-o fa-lg btn btn-primary marginTB-xs" ng-click="openModifyModal1($index)"></span>
                        <span class="fa fa-trash fa-lg btn  btn-danger marginTB-xs" ng-click="deleterole($index)"></span>
                    </td>
                </tr>
                </tbody>
            </table>
            <div style="float: right" ng-controller="roleManagementCtrl">

                <ul uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>

            </div>
        </div>
    </div>
</div>







