<!--工程信息维护-->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h3 class="header-text m-bottom-sm">工程管理</h3>
    <div style="float: right;margin-top: 2px;margin-right: 15px">


        <button class="btn  btn-sm btn-success " data-toggle="modal" data-target="#myModal"
                ng-click="openAddModal()"><span class="fa fa-plus fa-lg" aria-hidden="true"></span>&nbsp;添加
        </button>
    </div>


    <div class="smart-widget widget-purple" style="display: inline-block;width: 100%;height: 100%">

        <div class="panel-body table-responsive" style="min-height: 340px;">


            <table class="table table-striped">
                <thead>
                <tr>
                    <th>工程名称</th>
                    <th>项目负责人</th>
                    <th>负责人联系电话</th>
                    <th>工程地址</th>
                    <th>施工总承包单位</th>
                    <th>建设单位</th>
                    <th>操作</th>
                </tr>
                </thead>

                <tr ng-repeat="project in projectDetail">
                    <td>{{project.name}}</td>
                    <td>{{project.projectLeader}}</td>
                    <td>{{project.projectLeaderPhone}}</td>
                    <td>{{project.address}}</td>
                    <td>{{project.declarationCompany.name}}</td>
                    <td>{{project.constructionCompany.name}}</td>
                    <td>
                <span class="fa fa-pencil-square-o fa-lg btn btn-primary marginTB-xs" title="编辑"
                      ng-click="openModifyModal($index)"></span>
                        <span  class="fa fa-trash fa-lg btn  btn-danger" title="删除" ng-click="onRemoveButtonClick($index)"></span>
                    </td>
                </tr>


            </table>


        </div>
        <!--<div style="float: right">-->
            <!--<ul class="pagination ng-isolate-scope ng-not-empty ng-valid" uib-pagination="" max-size="5"-->
                <!--ng-model="accompanyCurrentPage" items-per-page="10" first-text="«" total-items="dataTotalItems"-->
                <!--boundary-link-numbers="true" rotate="false" last-text="»" ng-change="getTaskList()" previous-text="‹"-->
                <!--next-text="›" boundary-links="true">-->
                <!--&lt;!&ndash; ngIf: ::boundaryLinks &ndash;&gt;-->
                <!--<li ng-if="::boundaryLinks" ng-class="{disabled: noPrevious()||ngDisabled}"-->
                    <!--class="pagination-first ng-scope disabled"><a href="" ng-click="selectPage(1, $event)"-->
                                                                  <!--class="ng-binding">«</a></li>-->
                <!--&lt;!&ndash; end ngIf: ::boundaryLinks &ndash;&gt;-->
                <!--&lt;!&ndash; ngIf: ::directionLinks &ndash;&gt;-->
                <!--<li ng-if="::directionLinks" ng-class="{disabled: noPrevious()||ngDisabled}"-->
                    <!--class="pagination-prev ng-scope disabled"><a href="" ng-click="selectPage(page - 1, $event)"-->
                                                                 <!--class="ng-binding">‹</a></li>-->
                <!--&lt;!&ndash; end ngIf: ::directionLinks &ndash;&gt;-->
                <!--&lt;!&ndash; ngRepeat: page in pages track by $index &ndash;&gt;-->
                <!--<li ng-repeat="page in pages track by $index"-->
                    <!--ng-class="{active: page.active,disabled: ngDisabled&amp;&amp;!page.active}"-->
                    <!--class="pagination-page ng-scope active"><a href="" ng-click="selectPage(page.number, $event)"-->
                                                               <!--class="ng-binding">1</a></li>-->
                <!--&lt;!&ndash; end ngRepeat: page in pages track by $index &ndash;&gt;-->
                <!--&lt;!&ndash; ngIf: ::directionLinks &ndash;&gt;-->
                <!--<li ng-if="::directionLinks" ng-class="{disabled: noNext()||ngDisabled}"-->
                    <!--class="pagination-next ng-scope disabled"><a href="" ng-click="selectPage(page + 1, $event)"-->
                                                                 <!--class="ng-binding">›</a></li>-->
                <!--&lt;!&ndash; end ngIf: ::directionLinks &ndash;&gt;-->
                <!--&lt;!&ndash; ngIf: ::boundaryLinks &ndash;&gt;-->
                <!--<li ng-if="::boundaryLinks" ng-class="{disabled: noNext()||ngDisabled}"-->
                    <!--class="pagination-last ng-scope disabled"><a href="" ng-click="selectPage(totalPages, $event)"-->
                                                                 <!--class="ng-binding">»</a></li>-->
                <!--&lt;!&ndash; end ngIf: ::boundaryLinks &ndash;&gt;-->
            <!--</ul>-->
        <!--</div>-->


    <!--</div>-->
</div>


</ui-view>

</div><!--工程信息维护-->