



<div class="padding-md">
    <h3 class="header-text m-bottom-sm">
        角色
    </h3>



<div style="float: right;margin-top: 2px;margin-right: 15px">

    <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#myModal">
        <span class="fa fa-plus fa-lg" aria-hidden="true"></span> 添加</button>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title" id="myModalLabel">添加管理员信息</h5>
            </div>
            <div class="modal-body">

                    <div class="form-group">
                        <label for="exampleInputEmail1">角色名</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="请输入角色名">
                    </div>

            </div>
            <hr style="width: 100%;margin-top: 0">
                    <div class="form-group">
                        <div style="margin-left: 20px">
                            <label >权限</label>
                        </div>

                        <div class="col-lg-10">
                            <div class="col-lg-4">
                                <input type="checkbox">    设备检验申请
                            </div>
                            <div class="col-sm-4">
                                <input type="checkbox">设备类型管理
                            </div>
                            <div class="col-sm-4">
                                <input type="checkbox">角色管理
                            </div>
                            <div class="col-sm-4">
                                <input type="checkbox">安全检验合格证
                            </div>
                            <div class="col-sm-4">
                                <input type="checkbox">检验报告复检
                            </div>
                            <div class="col-sm-4">
                                <input type="checkbox">检验单位审核
                            </div>
                            <div class="col-sm-4">
                                <input type="checkbox">检验单位检验准备
                            </div>
                            <div class="col-sm-4">
                                <input type="checkbox">现场检验
                            </div>
                            <div class="col-sm-4">
                                <input type="checkbox">检验报告
                            </div>
                            <div class="col-sm-4">
                                <input type="checkbox">单位管理
                            </div>
                            <div class="col-sm-4">
                                <input type="checkbox">人员管理
                            </div>
                            <div class="col-sm-4">
                                <input type="checkbox">工程管理
                            </div>
                            <div class="col-sm-4">
                                <input type="checkbox">管理员管理
                            </div>
                        </div>

                    </div>

            <div style="clear: both"></div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success col-lg-12 btn-lg">确定</button>
            </div>
        </div>
    </div>
</div>
<div style="clear: both"></div>
    <br>

    <div class="smart-widget">
        <div class="smart-widget-header">
            角色信息列表
        </div>

        <div class="smart-widget-inner panel-body table-responsive">


            <table class="table table-striped">
                <thead>
                <tr>
                    <th>角色</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>总经理</td>
                    <td>
                        <span class="fa fa-pencil-square-o fa-lg btn btn-primary marginTB-xs"></span>
                        <span class="fa fa-trash fa-lg btn  btn-danger marginTB-xs"></span>
                    </td>
                </tr>
                <tr>
                    <td>总经理</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div><!-- ./smart-widget-inner -->
    </div>



<!-- Small modal -->


<!-- Delete Widget Confirmation -->



<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->





