<div class="overflow-hidden light-background">
    <div class="wrapper no-navigation preload">
        <div class="sign-in-wrapper">
            <div class="sign-in-inner">
                <div class="login-brand text-center">
                    <i class="fa  m-right-xs"></i> 建筑设备报检 <br><strong class="text-skin">后台管理系统</strong>
                </div>

                <form>
                    <div class="form-group m-bottom-md">
                        <input type="text" class="form-control" placeholder="用户名">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="密码">
                    </div>
                    <div class="m-top-md p-top-sm">
                        <a href="#!/main" class="btn btn-success block">登录</a>
                    </div>
                </form>
            </div><!-- ./sign-in-inner -->
        </div><!-- ./sign-in-wrapper -->
    </div><!-- /wrapper -->

    <a href="" id="scroll-to-top" class="hidden-print"><i class="icon-chevron-up"></i></a>

</div>